#top-shou {
	background: rgb(20,230,230);
	height: 50px;
	width: 100%;
}
.biaoti {
	font-size: 20px;
	line-height: 30px;
	margin-left: 20px;
}
.denglv {
	position: absolute;
	right: 100px;
	top: 0px;
	width: 4%;
	height: 49px;
	line-height: 50px;
	text-align: center;
}
.zhuce {
	position: absolute;
	right: 40px;
	top: 0px;
	width: 4%;
	height: 49px;
	line-height: 50px;
	text-align: center;
}
.denglv:hover {
	background-color: rgba(20,130,230,0.6);
}
.zhuce:hover {
	background-color: rgba(20,130,230,0.6);
}
.neirou {
	height: 1400px;
	margin-top: 80px;
	/*background: rgb(20,230,230);*/
}
.leibie {
	width: 102%;
	height: 40px;
	background-color: red;
	position: relative;
	left: -15px;
	top: -15px;
}
.tuireshi {
	width: 32%;
	height: 40px;
	line-height: 40px;
	background-color: rgb(120,201,230);
	text-align: center;
}
.tuireshi:hover {
	background-color: rgba(50,180,240,0.6);
}
.jiahao {
	width: 4%;
	height: 40px;
	line-height: 40px;
	background-color: thistle;
	position: relative;
	top: 0;
	font-size: 15px;
	cursor: pointer;
}
.jiahao:hover {
	color: rgb(220,50,80);
}
.jiahao,.tuireshi {
	float: left;
}
.zhangkai_fenlei {
	width: 97%;
	height: 50px;
	margin-top: -25px;
	background-color: rgb(50,180,250);
}
.zhangkai_fenlei ul li {
	float: left;
	margin-top: -5px;
	margin-left: 90px;
}
.neirou-xiao {
	width: 33.3%;
	height: 570px;
	float: left;
	margin-left: -1%;
}
.neirou-xiao ul li {
	list-style: none;
	padding-top: 25px;
	margin-left: 40px;
}
.neirou-xiao ul li a{
	color: black;
	text-decoration: none;
}
.neirou-xiao ul li a:hover {
	color: rgb(160,80,150);
}
.a10 {
	margin-left: 70%;
}
